#textbody {
    font-family: Helvetica,Arial;
    font-size: 18px;
    text-align:justify;
    white-space: normal;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
}
#webapp {
    font-family: Helvetica,Arial;
    font-size: 18px;
    text-align:justify;
    white-space: normal;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
}
#button1 {
    background-color: #333333;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 24px;
    font-family: Helvetica,Arial;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
    position: relative;
    align-self: center;
}
#menu{
    height: 30px;
    box-sizing: content-box;
}
#button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #BBBBBB;
}
#input {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #BBBBBB;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica,Arial;
}
::placeholder {
    color: white;
}
