#head {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}
#menu{
    padding: 0px !important;
    height: 30px;
    box-sizing: content-box;
}

body {
    background-image:url("./Bilder/Ding.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #535353;
}
li {
    font-size: 20px;
    font-family: Helvetica,Arial;
    float: left;
    border-right: 1px solid #bbb;
    margin-left: 0;
}
li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #535353;
    height: 30px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
li:last-child {
    border-left: 1px solid #bbb;
}
li a:hover {
    background-color: #BBBBBB;
}
